@model IEnumerable<Userlogin>
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="content-wrapper">
    <div class="content">
        <!-- For Components documentaion -->
        <div class="row card-header justify-content-between">

            <h2 class="col">All Chefs</h2>
            <a asp-action="ChefRequest" class="mb-1 mr-3 btn btn-primary col-2">Chef Requests </a>
            
        </div>

        <div class="row">
            @foreach (var chef in Model)
            {
                <div class="col-lg-6 col-xl-4 col-xxl-3">
                    <div class="card card-default mt-7">

                        <div class="card-body text-center">
                            <a class="d-block mb-2" href="javascript:void(0)" data-toggle="modal" data-target="#modal-contact">
                                <div class="image mb-3 d-inline-flex mt-n8">
                                    <img src="~/image/personalImage/@chef.User.Imagepath" class="img-fluid rounded-circle d-inline-block" alt="Avatar Image" width="90" height="90">
                                </div>

                                <h5 class="card-title">@chef.User.Firstname @chef.User.Lastname</h5>
                            </a>

                            <ul class="list-unstyled d-inline-block mb-5">

                                <li class="d-flex">
                                    <i class="mdi mdi-email mr-1"></i>
                                    <span>@chef.Email</span>
                                </li>
                                <li class="d-flex">
                                    <i class="mdi mdi-account mr-1"></i>
                                    @if (chef.User.Userstatus.Statusname == "Accepted")
                                    {
                                        <span class="badge badge-pill badge-success">@chef.User.Userstatus.Statusname</span>
                                    } 
                                    
                                    else{
                                        <span class="badge badge-pill badge-danger">@chef.User.Userstatus.Statusname</span>
                                    }
                                </li>
                                <li class="d-flex">
                                    <i class="mdi mdi-account mr-1"></i>
                                    <a asp-controller="Account" asp-action="Profile">Profile</a>
                                </li>
                                



                                

                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

