@model IEnumerable<Category>

@{
    ViewData["Title"] = "AllCategories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card card-default">
    <div class="card-header">
        <h2>All Categories</h2>
        <a asp-action="Create" class="mb-1 btn btn-primary">New Category</a>
    </div>
    
    <div class="card-body">
        

<table id="productsTable" class="table table-hover table-product" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Imagepath)</th>
            <th>@Html.DisplayNameFor(model => model.Categoryname)</th>
            <th>@Html.DisplayNameFor(model => model.Categorydescription)</th>
           
            <th>Qty</th>
            <th></th>
        </tr>
    </thead>

        <tbody>
                <br />
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                            
                        <img src="~/image/CategoryImage/@item.Imagepath" alt="Product Image">
                    </td>

                    <td>@item.Categoryname</td>
                    <td>@item.Categorydescription</td>
                    <td>27</td>
                    
                    <td>
                        <div class="dropdown">
                            <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Categoryid">Edit</a>
                                    <a class="dropdown-item" asp-controller="Categories" asp-action="Details" asp-route-id="@item.Categoryid">Details</a>
                                    <a class="dropdown-item" asp-controller="Categories" asp-action="Delete" asp-route-id="@item.Categoryid">Details</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
</div>





