@model IEnumerable<Purchase>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Annual Report</h2>
<p>Showing sales for the year @ViewBag.Year</p>

<table id="reportTable" class="display">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Recipe</th>
            <th>Price</th>
            <th>Earnings</th>
            <th>Category</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Customer.Username</td>
                <td>@item.Recipe.Recipename</td>
                <td>@item.Recipe.Price</td>
                <td>@item.Earnings</td>
                <td>@item.Recipe.Category.Categoryname</td>
                <td><img src="~/image/RecipeImage/@item.Recipe.Imagepath" alt="Recipe Image" width="80" height="80"></td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" defer></script>
<script>
    $(document).ready(function () {
        $('#reportTable').DataTable();
    });
</script>