@model IEnumerable<Testimonial>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="content">
        <!-- For Components documentaion -->
        <div class="row card-header justify-content-between">

            <h2 class="col">Testimonial</h2>
            <a asp-action="PendingTestimonials" class="mb-1 btn btn-primary col-2">Pending Testimonial</a>
        </div>

        <div class="row">
             <table class="table">
                 <thead>
                     <tr>
                         <th scope="col">@Html.DisplayNameFor(model => model.Cust.Username)</th>
                         <th scope="col">@Html.DisplayNameFor(model => model.Testimonialstatus.Statusname)</th>
                         <th scope="col">@Html.DisplayNameFor(model => model.Posteddate)</th>
                        <th scope="col">Actions</th>
                     </tr>
                 </thead>
                 <tbody>
               @foreach( var item in Model)
               {
                     @if (item.Testimonialstatus.Statusname == "Accepted")
                     {
                         <tr class="table-info">

                                <td scope="row"><a asp-action="CustomerDetails" asp-route-userid="@item.Custid">@item.Cust.Username</a></td>
                                <td>@item.Testimonialstatus.Statusname</td>
                                <td>@item.Posteddate.DateTime</td>

                                <td><a asp-controller="Testimonials" asp-action="Details" class="btn btn-sm btn-outline-info mr-lg-4 mr-md-3 mr-sm-1 mb-lg-4 mb-md-3 mb-sm-1" asp-route-id="@item.Testumonialid">Details </a><a asp-controller="Testimonials" asp-action="Delete" class="btn btn-sm btn-outline-danger mr-lg-4 mr-md-3 mr-sm-1 mb-lg-4 mb-md-3 mb-sm-1" asp-route-id="@item.Testumonialid">Delete </a></td>
                         </tr>
                     } 
                     else{
                             <tr class="table-danger">
                                <td scope="row"><a asp-action="CustomerDetails" asp-route-userid="@item.Custid">@item.Cust.Username</a></td>
                                <td>@item.Testimonialstatus.Statusname</td>
                                <td>@item.Posteddate.DateTime</td>

                                <td><a asp-controller="Testimonials" asp-action="Details" class="btn btn-sm btn-outline-info mr-lg-4 mr-md-3 mr-sm-1 mb-lg-4 mb-md-3 mb-sm-1" asp-route-id="@item.Testumonialid">Details </a><a asp-controller="Testimonials" asp-action="Delete" class="btn btn-sm btn-outline-danger mr-lg-4 mr-md-3 mr-sm-1 mb-lg-4 mb-md-3 mb-sm-1" asp-route-id="@item.Testumonialid">Delete </a></td>
                             </tr>
                     }
               }
                        </tbody>
                    </table>
        </div>
    </div>
</div>