@model IEnumerable<Testimonial>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="content">
        <!-- For Components documentaion -->
        <div class="row card-header justify-content-between">

            <h2 class="col">Testimonial</h2>
            <a asp-action="PendingTestimonials" class="mb-1 btn btn-primary col-2">Pending Testimonial</a>
        </div>

        <div class="row">
             <table class="table">
                 <thead>
                     <tr>
                         <th scope="col">@Html.DisplayNameFor(model => model.Cust.Username)</th>
                         <th scope="col">@Html.DisplayNameFor(model => model.Ucomment)</th>
                         <th scope="col">@Html.DisplayNameFor(model => model.Posteddate)</th>
                         <th scope="col">@Html.DisplayNameFor(model => model.Testimonialstatus.Statusname)</th>
                     </tr>
                 </thead>
                 <tbody>
               @foreach( var item in Model)
               {
                     @if (item.Testimonialstatus.Statusname == "Accepted")
                     {
                         <tr class="table-info">

                                <td scope="row"><a asp-action="CustomerDetails" asp-route-userid="@item.Custid">@item.Cust.Username</a></td>
                                <td>@item.Ucomment</td>
                                <td>@item.Posteddate</td>
                                <td>@item.Testimonialstatus.Statusname</td>
                         </tr>
                     } 
                     else{
                             <tr class="table-danger">
                                <td scope="row"><a asp-action="CustomerDetails" asp-route-userid="@item.Custid">@item.Cust.Username</a></td>
                                 <td>@item.Ucomment</td>
                                 <td>@item.Posteddate</td>
                                 <td>@item.Testimonialstatus.Statusname</td>
                             </tr>
                     }
               }
                        </tbody>
                    </table>
        </div>
    </div>
</div>