@model IEnumerable<MixMeal.Models.Purchase>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Purchasedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Earnings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Purchasedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Earnings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.Recipeid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Purchaseid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Purchaseid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Purchaseid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
