@model MixMeal.Models.Testimonial

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Testimonial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ucomment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ucomment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posteddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posteddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cust.Userid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Testimonialstatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Testimonialstatus.Statusid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Testumonialid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
